$background: white;
$font-main: black;
$font-secondary: gray;
$transparent: rgba(255, 255, 255, 0);

$abbr-main: gray;
$abbr-border: #d7d7d7;
$abbr-background: #f3f3f3;

$header-button: #17a2b8;
$header-background: rgb(227, 242, 253);

$table-button: #ffc107;
$table-background: #ffeeba;

$hour-day: rgb(227, 242, 253);
$hour-day-border: rgb(107, 187, 237);

$hour-night: rgb(197, 217, 241);
$hour-night-border: rgb(63, 84, 204)