#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

html,
body {
  font-size: 14px;
}

.app-wrapper {
  max-width: 500px;
  .left {
    width: 100%;
  }

  .right {
    display: none;
  }
}

table, th, tr {
  width: 100%;
}

.scroll {
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
  cursor: pointer;
  &::-webkit-scrollbar-track {
    background-color: #ffeeba;
  }
  //捲軸寬度
  &::-webkit-scrollbar {
    height: 8px;
  }
  //捲軸本體顏色
  &::-webkit-scrollbar-thumb {
    background-color: #ffc107;
  }
}

// IPAD mini 768px 寬度以下
@media screen and (min-width: 850px) {
  .app-wrapper {
    max-width: 1140px;
    .left {
      min-width: 350px;
      width: 35%
    }
    .right {
      margin-left: 2%;
      width: calc(100% - 35% - 2%);
      display: flex;
    }
  }
}