#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

// TODO: 待刪
div, th, td {
  // border: 1px solid black;
}

table, tr {
  width: 100%;
}

.left {
  width: 35%;
}

.right {
  margin-left: 2%;
  width: calc(100% - 35% - 2%);
  display: flex;
}

// IPAD mini 768px 寬度以下
@media screen and (max-width: 750px) {
  .left {
    width: 100%
  }
  .right {
    display: none
  }
}