.list-height {
  height: 5rem;
}

.text-16 {
  font-size: 16px;
}

.line-normal {
  line-height: normal;
}


// 表格左側區域
.left-panel-wrapper {
  .setting-wrapper {
    transform: translateX(-100%);
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    opacity: 0.5;
    i {
      &::before {
        padding: 1px;
        border: 1px solid #{$transparent};
      }
      &:hover::before {
        opacity: 1;
        padding: 1px;
        border: 1px solid #{$font-secondary};
      }
    }
  }
  &:hover {
    cursor: pointer;
    .setting-wrapper {
      cursor: pointer;
      opacity: 0.9
    }
  }
  .dst-wrapper {
    display: none;
  }
  .location-wrapper {
    padding-left: 1rem;
    .abbreviation {
      display: none;
    }
    p {
      color: #{$font-secondary}
    }
  }
  .time-wrapper {
    position: absolute;
    right: 1rem;
    p {
      color: #{$font-secondary}
    }
    .clickedDate {
      position: relative;
      right: 0;
      white-space: nowrap;
    }
  }
}

// 表格右側區域
.right-panel-wrapper {
  // 卷軸設定
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
  cursor: pointer;
  &::-webkit-scrollbar-track {
    background-color: #{$table-background};
  }
  //捲軸寬度
  &::-webkit-scrollbar {
    height: 8px;
  }
  //捲軸本體顏色
  &::-webkit-scrollbar-thumb {
    background-color: #{$table-button};
  }
  // ===背景層===
  .background-wrapper {
    z-index: -50;
  }
  // ===中間文字層===
  .weekdays-panel {
    transform: translate(-10%, -150%);
  }
  .hour-li {
    width: 100%;
    min-width: 29px;
  }
  .hour-today {
    opacity: 0.8;
    background-color: #{$table-background};
  }
  .hour-day {
    border-top: 1px solid #{$hour-day-border};
    border-bottom: 1px solid #{$hour-day-border};
    background-color: #{$hour-day};
  }
  .hour-night {
    border-top:1px solid #{$hour-night-border};
    border-bottom: 1px solid #{$hour-night-border};
    background-color: #{$hour-night};
  }
  .hour-begin {
    margin-left: 1px;
    border-left: 1px solid #{$hour-night-border};
    border-radius: 5px 0 0 5px;
  }
  .hour-end {
    margin-right: 1px;
    border-right: 1px solid #{$hour-night-border};
    border-radius: 0 5px 5px 0;
  }
  .hourText-forCenter {
    position: relative;
    top: 3px;
  }
  .subText {
    position: relative;
    right: 4px;
  }
  // ===表面點擊層===
  .hover-wrapper {
    z-index: +50;
    .hour-hover:hover {
      border: 1px solid #{$font-main};
      border-radius: 0.25rem;
    }
    .hour-outside-clicked {
      opacity: 0.8;
      background-color: #{$background}
    }
  }
}

// draggable css
.ghost {
  opacity: 0.5;
  background: #{$header-background};
}

// width: 310px ← navbar 雙側貼齊顯示的設定值
// 寬度310px以下，隱藏時區縮寫避免太擁擠
// 寬度寬度310px以上，顯示時區縮寫
@media screen and (min-width: 310px) {
  .left-panel-wrapper {
    .location-wrapper {
      .abbreviation {
        display: inline-block;
        border: 1px solid #{$abbr-border};
        border-radius: 3px;
        padding: 1px 3px;
        background-color: #{$abbr-background};
        color: #{$abbr-main};
        font-size: 9px;
      }
    }
  }
}

@media screen and (min-width: 390px) {
  .left-panel-wrapper {
    .dst-wrapper {
      display: block;
      width: 15%;
      color: #{$font-secondary}
    }
    .location-wrapper {
      padding-left: unset;
    }
  }
}